@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default panel-collapse">
            <div class="panel-heading">
                <img src="~/Images/paylocity.jpg" />
                <br />
                <strong class="panel-title">Home page content goes here...</strong>
            </div>
        </div>
    </div>
</div>
